// vite.config.js
export default {
  // Konfiguration für die Optimierung
  build: {
    rollupOptions: {
      output: {
        manualChunks: {
          vendor: ['matter-js', 'matter-attractors'],
        },
      },
    },
  },
  // In case of CORS issues with the matter-attractors plugin
  optimizeDeps: {
    include: ['matter-js', 'matter-attractors'],
  },
  server: {
    port: 3000,
    open: true
  }
};
